<table class="table table-dark" style="position:fixed;bottom:0%">

<tr>
<td>
<a href="/about">About Us</a>
</td>
<td>
<a href="/faq">Faq</a>
</td>
<td>
<a href="/terms">Terms and Conditions</a>
</td>
</tr>
<tr>
<td>

</td>
</tr>
</table>

